In [1]:
import pandas as pd

In [2]:
# 吃饭/没吃饭 和 加班/没加班 做笛卡尔积
# 下面是所有可能的情况
df = pd.DataFrame({
    "名字": ["小王", "小张", "小李", "小刘"],
    "加班了吗": ["加班", "没加班", "加班", "没加班"],
    "吃饭了吗": ["没吃饭", "没吃饭", "吃饭", "吃饭"]
})
df

   名字 加班了吗 吃饭了吗
0  小王   加班  没吃饭
1  小张  没加班  没吃饭
2  小李   加班   吃饭
3  小刘  没加班   吃饭

In [3]:
# 题目说所有没加班的人都吃了饭
# 改一下这个 DataFrame 让它符合题目要求
mask = df['加班了吗'] == '没加班'
df.loc[mask, "吃饭了吗"] = "吃饭"
df

   名字 加班了吗 吃饭了吗
0  小王   加班  没吃饭
1  小张  没加班   吃饭
2  小李   加班   吃饭
3  小刘  没加班   吃饭

In [4]:
# 看一下是不是所有没吃饭的人，就一定在加班
mask = df['吃饭了吗'] == '没吃饭'
df[mask]['加班了吗'].tolist()

['加班']

是啦，是在加班